<h1>Imported Calendars: </h1>
<ul>
	<a href='http://agendauc.herokuapp.com'>Agenda UC</li>
	<ul>
		<li><%= link_to 'Find Events'%></li>
		<li><%= link_to 'Find Campuses'%></li>
	</ul>
</ul>
<div id="content"></div>